.container{
    max-width: 800px;
    margin: auto;
    padding: 100px;
	height:800px;
}
.row{
    background-color: #3371f5;
	display: block;
	float: none;
	height: 400px;
	width: 800px;
    margin-top: 40px;
}

.column{
    display: inline-block;
	float: left;
	height: 300px;
	width: 45%;
	background:#FFF;
	text-align: center;
    margin-left:20px;
	margin-top:20px;
}
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}

li>a {
    padding: 8px 24px;
}
li {
    list-style-type: none;
}
a {
    color: white;
    text-decoration:none;
}
.nav-links {
    display: flex;
    align-items: center;
}
.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
    flex: 100%;
    }
    .nav-links {
        display: none;
    }
.button-menu-toggle {
        display: block;
        background-color: white;
        border:none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }
    .img-container {
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        flex-direction: column;
    }
    
    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20,20,20,0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 100px;
        align-items: center;
        gap:70px;
        font-size: 30px;
    }
}
footer {
    background-color: pink;
    text-align: center;
    font-size: 40px;
}